body {
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
    background-color: #494F55;
    color: white;
}

.changeModeBtn {
    margin-bottom: 2em;
    padding: 8px 13px;
    border: 2px solid #8a2be2;
    border-radius: 30px;
    background-color: #8a2be2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.msg-txt {
    font-size: 40px;
    color: #8a2be2;
}

.container {
    display: inline-block;
    height: 30em;
    width: 20em;
    background-color: #323131;
    border-radius: 20px;
    padding: 5px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.input {
    width: 90%;
    height: 60px;
    font-size: 20px;
    background-color: #f4f4f4;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
}

.btn {
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    border: none;
}

.equals {
    padding: 0px;
    width: 140px;
    height: 60px;
    font-size: 50px;
    border-radius: 30px;
}

.btn-color {
    background-color: #8a2be2;
    color: #ffffff;
}

.backspace {
    padding: 0px;
}

.backspace img {
    width: 28px;
    margin-top: 5px;
}